---
title: Fleury
permalink: 'index/{{ index.url | slugify }}/'
layout: layout.njk
csspath: ./css/
---

<h1>{{ title }}</h1>
<ul>
	<li><a href="./index">HOME</a></li>
	<li><a href="./photo">ABOUT</a></li>
</ul>
<img src="./images/cart_icon.png" alt="">

<!-- 各sectionをループで作成 -->
{% for products in products %}
<section class="{{ products.url }}">
	<h2>{{ products.name }}</h2>
	<div class="photo___img">
		<img src="./images/{{ products.itemphotos[0] }}" alt="{{ products.name }}" />
	</div>
</section>
{% endfor %}


