---
pagination:
  data: products
  size: 1
permalink: 'photo/{{ pagination.items[0].url | slugify }}/'
---

<ul>
	<li>{{ pagination.items[0].name }}</li>
	<li>{{ pagination.items[0].price }}</li>
</ul>

<img src="./images/{{ pagination.items[0].itemphotos[0] }}" />
<img src="./images/{{ pagination.items[0].itemphotos[1] }}" />
<img src="./images/{{ pagination.items[0].itemphotos[2] }}" />

<!--  画像をループで取得 -->
{% for photo in pagination.items[0].itemphotos %}
<img src="./images/{{ photo }}" />
{% endfor %}